*{
	box-sizing: border-box;
	font: 700 16px 'Open Sans', sans-serif;
    color: #000;
    
}

.element_color{
	background-color: #5e7151;
	border-style: solid;
}

.link {
	border-style: solid;
}

.container{
	background-color: #c4ccad;
}

.project__grid{
}

article div section{
	border-style: solid;
}
h1{
	font-size: 4rem;
}

h2{
	font-size: 40px;
}

h3{
	font-size: 24px;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}